<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="border-bottom: 1px solid #606060; margin-bottom: 20px;">
        <div class="container px-4 px-lg-5">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Images/favicon.png" alt="Subin" style="width: 40px; height: 60px;" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</</li>
                    <li class="nav-item">@Html.ActionLink("AcercaDe", "About", "Home", new { area = "" }, new { @class = "nav-link" })</</li>
                    <li class="nav-item">@Html.ActionLink("Subasta", "Index", "Subasta", new { area = "" }, new { @class = "nav-link" })</</li>
                    <li class="nav-item">@Html.ActionLink("Intercambio", "Index", "Usuario", new { area = "" }, new { @class = "nav-link" })</</li>
                    <li class="nav-item">@Html.ActionLink("Items", "Index", "Item", new { area = "" }, new { @class = "nav-link" })</</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        
    </nav>
    
        @RenderBody()
        
    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - Dylan Yoan Martínez Casas</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
