@model IEnumerable<SubIn.Models.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int id = int.Parse(Request.Cookies["id"].Value);
}

<div class="container">
    <h2>Inventario</h2>


    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Item
            </th>
            <th>
                Descipción
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre_item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion_item)
                </td>

                <td>
                    @using (Html.BeginForm("Create", "Intercambio", FormMethod.Get, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" value="@id" name="id" />
                        <input type="hidden" value="@Html.DisplayFor(modelItem => item.id_item)" name="id" />
                        <div class="form-actions no-color">
                            <input type="submit" value="Enviar Oferta de Intercambio" class="btn btn-outline-dark" />
                        </div>
                    }
                </td>
            </tr>
        }

    </table>

</div>
